#hotel-tour {
    margin-top: 60px;
    height: 500px;
}

.tour-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tour-content::before {
    content: "";
    background: url(./img/hotel-tour.jpg) no-repeat center center/cover;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 500px;
    top: 0;
}

.tour-content span {
    margin-top: 103px;
    font-size: 21px;
    color: white;
    font-weight: 700;
}

.tour-content h2 {
    margin-top: 22px;
    font-size: 60px;
    color: #fff;
    font-weight: 400;
}

.tour-content i {
    color: #fff;
    margin-top: 22px;
}

@media only screen and (max-width:320px) {
    .tour-content span {
        font-size: 16px;
    }
}