#service-section {
    margin-top: 100px;
    /* height: 400px; */
    height: auto;
}

.hotel-service {
    display: flex;
    margin-top: 70px;
    padding: 10px;
}

.service-item {
    border-radius: 50% 50% 50% 0;
    background-color: #fff;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    width: 100%;
    margin: 20px;
    text-align: center;
    height: 151px;
}

.service-item i {
    margin-top: 25px;
    color: #c5a880;
}

.service-item h2 {
    margin-top: 10px;
    color: gray;
    font-weight: 300;
}

@media only screen and (max-width:320px) {
    .hotel-service {
        flex-direction: column;
    }
    .service-item {
        border-radius: 0px;
        margin: 5px 0px 0px 0px;
    }
}

@media only screen and (min-width:321px) and (max-width:480px) {
    .hotel-service {
        flex-direction: column;
    }
    .service-item {
        border-radius: 0px;
        margin: 5px 0px 0px 0px;
    }
}

@media only screen and (min-width:481px) and (max-width:790px) {
    .hotel-service {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
    .service-item {
        border-radius: 0px;
        margin: 5px 0px 0px 0px;
    }
}

@media only screen and (min-width:791px) and (max-width:1024px) {
    .hotel-service {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
    .service-item {
        border-radius: 0px;
        margin: 5px 0px 0px 0px;
    }
}