* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
}


/* home section of hotel include navbar and icon  */

.navigationbar {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(50, 160, 17);
}

.nav-logo h1 {
    font-size: 29px;
}

.nav-item ul {
    display: flex;
    list-style: none;
    margin-right: 25px;
    margin-top: 32px;
}

.nav-item ul li a {
    text-decoration: none;
    margin: 10px;
}

#home-section {
    height: 650px;
}

.home-title {
    display: flex;
    justify-content: center;
    height: 650px;
}

.home-title::before {
    content: "";
    background: url(/img/home.jpg) no-repeat center center/cover;
    top: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 650px;
}

.home-containt {
    margin-top: 150px;
    height: 650px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-containt p {
    font-weight: 700;
    color: #d55f1bfa;
    font-size: 21px;
    letter-spacing: 1px;
}

.home-containt h1 {
    text-align: center;
    font-size: 70px;
    color: #6f3176;
}

.home-containt a {
    text-decoration: none;
    border: 1px solid #c5a880!important;
    padding: 20px;
    display: inline-block;
    color: whitesmoke;
    margin-top: 25px;
    font-weight: 700;
}

#tourBtn {
    background: #c5a880!important;
}

#container {
    height: auto;
}

.form-booking {
    display: flex;
    margin-top: -123px;
    justify-content: center;
    padding: 40px;
}

.form-content {
    width: 237px;
    height: 135px;
    background-color: black;
    color: white;
    text-align: center;
    border-right: 1px solid rgb(87, 83, 83)
}

.form-content p {
    margin-top: 30px;
}

.form-content i {
    margin-left: 31px;
    margin-top: 20px;
    color: rgba(255, 255, 255, .4)!important;
}

.form-content i::before {
    padding: 11px;
}

#color-ful {
    background: #c5a880!important;
    border: none;
}

#color-ful p {
    width: 107px;
    margin-left: 59px;
}

@media only screen and (max-width:320px) {
    body,
    html {
        overflow-x: hidden;
    }
    .navigationbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-item ul {
        display: none;
    }
    .home-containt p {
        text-align: center;
        font-size: 11px;
    }
    .home-containt h1 {
        font-size: 37px;
    }
    #tourBtn {
        margin-left: 0px;
    }
    .form-booking {
        flex-direction: column;
    }
}